// Vuetify
@import '~vuetify/dist/vuetify.min.css';
// Variables
@import 'variables';

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

@import 'components';

.footer-branding-link {
    color: unset;
    text-decoration: unset;
    line-height: unset;
    border-color: unset;

    &:after, &:before {
        text-decoration: unset;
    }
}
