.js-cookie-consent.cookie-consent {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #f0f2f1;
}
span.cookie-consent__message {
    color: #1F1F21;
}
button.js-cookie-consent-agree {
    border: none;
    border-radius: 16px;
    background-color: $blue;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: background-color ease-in-out 250ms;
}
button.js-cookie-consent:hover {
    background-color: lighten($blue, 10%);
}
